body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 768px) {
  .messageInputField {
    font-size: 15px !important;
    padding: 8px !important;
    width: 70% !important;
  }
  .sendButton {
    font-size: 15px !important;
    width: 20% !important;
  }
}
code {
  background-color: rgba(0, 0, 0, 0.1);
  color: orange;
  cursor: pointer;
}
.play-button {
  cursor: pointer;
}
.confirm-link {
  cursor: pointer;
  text-decoration: underline;
  color: white !important;
}
